.search-box {
  margin: 0;
  display:flex;
}

.search-query {
  flex-grow: 1;
  margin: 0;
  padding: 0.5em 1em;
  display: block;
  min-width: 0;
}

.search-store {
  margin: 0;
  padding: 0.5em 1em;
  width: 6em;
  display: block;
  min-width: 0;
}

.search-submit {
  margin: 0;
  padding: 0.5em 1em;
  display: block;
}

.search-screen, .item-box {
  margin: 1.25em;
}

.result-box {
  align-items: center;
  border: 1px gray solid; 
  margin: 0.25em;
  display: grid;
  grid-template-columns: 5em auto;
  grid-template-areas: "thumbnail name";
}
.result-name {
  padding: 1em;
  word-break: break-all;
  align-self: start;
  justify-self: start;
}

.result-thumbnail {
  height: 5em;
  width: 5em;
  object-fit: contain; 
  object-position: center;
  align-self: start;
}

.item-back {
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 0.5em 1em;    
}

.item-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  grid-template-areas: 
    "thumb details" 
    "barcode barcode" 
    "desc desc";
  padding-bottom: 5em;
}

.search-box * {
  font-size: larger;
}

.item-back, .item-details * {
  font-size: x-large;
}

.item-thumbnail {
  object-fit: contain; 
  object-position: center;
  grid-area: thumb;
}

.item-details {
  grid-area: details;    
}

.item-description {
  grid-area: desc;
}

.item-barcode {
  grid-area: barcode;
}


.item-detail-key {
  display: inline-block;
  font-weight: bold;
  padding-right: 0.5em;
}

.item-detail-value {
  display: inline-block;
}




