.ll-fab {
  position: fixed;
  bottom: 0;
  right: 0;
}

.ll-thumbnail {
  object-fit: contain; 
  object-position: center;
}

.ll-search-results {
  min-height: 50vh;
}

* {
  word-break: break-word;
}

.ll-scanner-cancel {
  position: fixed;
  bottom: 0;
}

.ll-scanner-preview canvas, 
.ll-scanner-preview video {
  position: absolute;
}